.footer {
  a {
    position: relative;
    // display: block;
    &:hover {
      font-weight: bolder; /*滑到a連結，字體加粗*/
      color: $success;
    }
    /*製作滑到a連結後，出現底線的動畫*/
    &:after {
      content: "";
      position: absolute;
      left: 50%; /*由50%的地方往0呈現*/
      right: 50%; /*由50%的地方往0呈現*/
      bottom: -5px;
      height: 0;
      border-bottom: 2px solid $success;
      transition: 0.5s; /*0.5秒內動畫呈現完畢*/
    }
    &:hover:after {
      left: 0; /*由50%的地方往0呈現*/
      right: 0; /*由50%的地方往0呈現*/
    }
  }
}
