nav {
  height: 80px;
  .nav-logo {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav-list {
  // margin: 0 85px;
  .nav-menu {
    li {
      &:not(:last-child) {
        a {
          position: relative;
          // display: block;
          &:hover {
            font-weight: bolder; /*滑到a連結，字體加粗*/
            color: $success;
          }
          /*製作滑到a連結後，出現底線的動畫*/
          &:after {
            content: "";
            position: absolute;
            left: 50%; /*由50%的地方往0呈現*/
            right: 50%; /*由50%的地方往0呈現*/
            bottom: -5px;
            height: 0;
            border-bottom: 2px solid $success;
            transition: 0.5s; /*0.5秒內動畫呈現完畢*/
          }
          &:hover:after {
            left: 0; /*由50%的地方往0呈現*/
            right: 0; /*由50%的地方往0呈現*/
          }
        }
      }
    }
  }
}
/* PAD以下，menu選單 */
.nav-md-menu {
  display: none;
  background-color: $secondary;
  @include pad {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1.5s;
    position: absolute;
    z-index: 100;
    // 讓border線重疊
    top: 79px;
    left: 0;
    right: 0;
  }
  a {
    @include pad {
      display: block;
      text-align: center;
      &:hover {
        color: $light !important;
        background-color: $warning;
      }
    }
  }
}
/* PAD以下，顯示menu選單 */
.menu-show .nav-md-menu {
  @include pad {
    height: auto;
    max-height: 400px;
  }
}

.cart-icon {
  position: relative;
  &:after {
    position: absolute;
    content: "3";
    width: 22px;
    height: 18px;
    background-color: $warning;
    border-radius: 50%;
    font-size: 12px;
    color: $light;
    text-align: center;
    top: -8px;
    left: 13px;
  }
}
