/* bg-banner */
.bg-banner {
  background: url(https://live.staticflickr.com/65535/51366281057_d2a279600c_h.jpg)
    center center / cover;
  height: 480px;
}
/* bg-live */
.bg-live {
  background: url(https://live.staticflickr.com/65535/51370341562_fab68dd270_o.png)
    center center / cover;
  height: 482px;
  @include pad {
    @include center;
    width: 95%;
    height: auto;
  }
}
/* bg-news */
.bg-news {
  background: url(https://live.staticflickr.com/65535/51373953390_3d02e323b9_k.jpg)
    center center / cover;
  height: 400px;
}
/* bg-detail */
.bg-detail {
  background: url(../images/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg)
    center center / cover;
  height: 400px;
}
// img
.detail-exhibition-img {
  height: 266px;
  object-fit: cover;
}
.detail-art-img {
  height: 559px;
  object-fit: cover;
}
