@mixin size($w, $h) {
  width: $w;
  height: $h;
}
// LOGO圖片取代文字
@mixin background-type {
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}
// 置中
@mixin center {
  margin: 0 auto;
}
// 斷點
@mixin pc-pad {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
@mixin pad {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 414px) {
    @content;
  }
}
