/* menu區塊 */
.menu {
  // 不會出現X軸，但會出現scrollbar
  overflow-x: auto;
  // 讓scrollbar隱藏
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    &:not(:last-child) {
      margin-right: 18px;
    }
    a {
      // padding: 16px 16px;
      white-space: nowrap;
      position: relative;
      display: block;
      &:hover {
        font-weight: bolder; /*滑到a連結，字體加粗*/
      }
      /*製作滑到a連結後，出現底線的動畫*/
      &:hover:after {
        content: "";
        position: absolute;
        bottom: 10px;
        height: 0;
        border-bottom: 2px solid $warning;
      }
      &:hover:after {
        left: 0;
        right: 0;
      }
    }
  }
  // actvie效果
  .active {
    font-weight: bolder;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      height: 0;
      border-bottom: 2px solid $warning;
    }
  }
}
