.progressBar {
  border-top: 2px solid $warning;
  width: 100%;
  li {
    margin-top: 8px;
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    &:before {
      content: "";
      position: absolute;
      top: -55%;
      left: 50%;
      width: 8px;
      height: 8px;
      border: solid 2px $warning;
      border-radius: 8px;
      background: $light;
      @include mobile {
        top: -60%;
      }
    }
  }
  .active {
    &:before {
      content: "";
      position: absolute;
      top: -55%;
      left: 50%;
      width: 8px;
      height: 8px;
      border: solid 2px $warning;
      border-radius: 8px;
      background: $warning;
      @include mobile {
        top: -60%;
      }
    }
    p {
      font-weight: bold;
    }
  }
}
